/* CSS DEMO STYLESHEET */
/* -------- Box Sizing ------------ */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ----------utility classes*/

.containter{
  width: 80vw;
  margin:20px auto;
  max-width: 960px;
}


/*------------responsive images-------*/

img{
  max-width: 100%;
}

/* -------- Global Styles ------------ */

body{
     font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0%;
}

header.primary{
  background-color: brown;
  text-align: center;
  text-shadow: 1px 1px #000000;
  color: #ffffff;
  padding: 40px;
}

header.primary h1{
  font-size: 2.4rem;
  margin:20px 0 0 0;
}
header.primary h1 a{
color: #ffffff;
text-decoration: none;
}

header.primary h2{
  color: blueviolet;
  font-size: 1.4rem;
letter-spacing: 2px;
margin:10px 0 0;
}

header.primary nav ul{
padding: 0%;
display: flex;
flex-direction: row;
justify-content: space-around;
margin: 10px 0px 8px 0;
}
header.primary nav ul li{
  list-style-type: none;
}
header.primary nav ul a{
  color: #000000;
  background-color: #ffffff;
  padding: 5px 7.5px;
  border-radius: 8px 10px;
  text-decoration: none;
  background-color: rgba(0,0,0,.4);
  font-size: .9rem;
transition: .5s;
}

header.primary nav a:hover{
  background-color: rgba(0,0,0,.8);
}








/**     media quaries         **/

@media screen and (max-width: 600px){

header.primary nav ul{
flex-direction: column;
gap: 10px;
}

header.primary nav ul a{
display: block;

}


.containter{
  background-color: transparent;
  width: 90vw;
  margin:20px auto;


}